In [1]:
# initialization
#condition
#inc/dec

In [10]:
s= "hello world how are you"
for x in s :
    print(s)

hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you
hello world how are you

In [6]:
s= "hello world how are you"
for x in s :
    print(x,end='\t')

h	e	l	l	o	 	w	o	r	l	d	 	h	o	w	 	a	r	e	 	y	o	u

In [7]:
l=['hello',1,2,4,5,'python','java','c','c++']
print(l)

['hello', 1, 2, 4, 5, 'python', 'java', 'c', 'c++']

In [15]:
for item in l :
    print(item)

hello
1
2
4
5
python
java
c
c++

In [16]:
d={'name' :'neel',
  'country' : 'india',
  'blood_gp' : 'b+ve'}
print(d)

{'name': 'neel', 'country': 'india', 'blood_gp': 'b+ve'}

In [26]:
for key in d :
    print(d)

{'name': 'neel', 'country': 'india', 'blood_gp': 'b+ve'}
{'name': 'neel', 'country': 'india', 'blood_gp': 'b+ve'}
{'name': 'neel', 'country': 'india', 'blood_gp': 'b+ve'}

In [18]:
x,y=3,4

In [20]:
print(x)
print(y)

3
4

In [21]:
x=1,2,3,4,5
print(x)

(1, 2, 3, 4, 5)

In [24]:
x,y='12','34'
print(x)

12

In [27]:
l=['ab','cd','ef','gh']
for v1,v2 in l :
    print("v1={} and v2={}".format(v1,v2))

v1=a and v2=b
v1=c and v2=d
v1=e and v2=f
v1=g and v2=h

In [34]:
l=('hel','hii','bye')
for a,b,c in l :
    print(a,b,c)

h e l
h i i
b y e

In [ ]:
l=[]

In [48]:
name = input("enter name :")
l.append(name)
for info in 'zzzzz' :
    print(l)

enter name :nee

AttributeError: 'tuple' object has no attribute 'append'

In [38]:
list=[]

In [47]:
for var in 'abcde' :
    name = input("enter name :")
    list.append(name)
    print(list)

enter name :neel
['neel']
enter name :mov
['neel', 'mov']
enter name :avu
['neel', 'mov', 'avu']
enter name :akash
['neel', 'mov', 'avu', 'akash']
enter name :sourabh
['neel', 'mov', 'avu', 'akash', 'sourabh']

In [5]:
info={
    'name': 'neel',
    'age' : 28 ,
    'country' : 'India' ,
    'city' : 'jaipur' ,
    'hobby' : 'badminton'
}

In [6]:
print(info)

{'name': 'neel', 'age': 28, 'country': 'India', 'city': 'jaipur', 'hobby': 'badminton'}

In [16]:
for key in info :
    print("{} = {}".format(key,info[key]))

name = neel
age = 28
country = India
city = jaipur
hobby = badminton

In [24]:
l= 'ab','bc','cd','de','ef','fg'
print(l)

('ab', 'bc', 'cd', 'de', 'ef', 'fg')

In [38]:
for n1,n2 in l :
    print("{} = {}".format(n1,n2))

1 = one
2 = two
3 = three
4 = four

In [26]:
l=[(1,'one'),(2,'two'),(3,'three'),(4,'four')]
print(l)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [37]:
for x,y in l :
    print("{} = {}".format(x,y))

1 = one
2 = two
3 = three
4 = four

In [39]:
l =[(1,2,3,4),(5,6,7,8),(9,10,11,12)]
print(l)

[(1, 2, 3, 4), (5, 6, 7, 8), (9, 10, 11, 12)]

In [44]:
for p,q,r,s in l :
    print("{} = {}".format(p,q))

1 = 2
5 = 6
9 = 10

In [45]:
l1 = 1,2,3,4,5,6
l2='one','two','three','four','five','six'
print(l1)
print(l2)

(1, 2, 3, 4, 5, 6)
('one', 'two', 'three', 'four', 'five', 'six')

In [52]:
for n1,n2 in zip(l1,l2):
    print("{} = {}".format(n1,n2))

1 = one
2 = two
3 = three
4 = four
5 = five
6 = six

In [ ]:
l=[]

In [60]:
for nn in '12345' :
    name = input("enter name :")
    l.append(name)
    print(l)

enter name :
enter name :
enter name :
enter name :
enter name :
[(1, 2, 3, 4), (5, 6, 7, 8), (9, 10, 11, 12), 'neel', 'avi', 'sourabh', 'papa', 'mumma', 'neel', 'mov', 'neeel', 'mooov', '', 'neel mov meen', '', '', '', '', 'pop', 'pop', 'pop', 'neel', 'mm', 'mm', 'ss', 'dd', '', '', '', '', '']

In [63]:
l.remove('pop')

In [ ]:
#x= int(input("no. of times we suppose to print :"))
for var in range(int(input("no. of times we suppose to print :"))) :
    print(input("enter no. :"))
print(list)

In [ ]:
#program to make enter name and make list for that
name_list = []
for key in 'aaaaa' :
    name = input("")

In [28]:
l=[]
for nn in '12345' :
    name = input("enter name :")
    l.append(name)
print(l)

enter name :neel
enter name :mov
enter name :
enter name :pop
enter name :avi
['neel', 'mov', '', 'pop', 'avi']

In [30]:
l.remove('mov')

In [31]:
'mov'

'mov'

In [32]:
l

['neel', '', 'pop', 'avi']

In [33]:
l.append("misha")

In [34]:
l

['neel', '', 'pop', 'avi', 'misha']

In [37]:
l.extend("sourabh")

In [38]:
l

['neel',
 '',
 'pop',
 'avi',
 'misha',
 's',
 'o',
 'u',
 'r',
 'a',
 'b',
 'h',
 's',
 'o',
 'u',
 'r',
 'a',
 'b',
 'h']

In [39]:
l.pop()

'h'

In [40]:
l.pop()

'b'

In [41]:
l.pop()

'a'

In [47]:
rff

NameError: name 'rff' is not defined

In [48]:
range(10)

range(0, 10)

In [50]:
x= range(5)
print(x)
list(x)

range(0, 5)

[0, 1, 2, 3, 4]

In [51]:
x= range(1,100)
print(x)

range(1, 100)

In [53]:
print(list(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [55]:
x= range(100,1)
print(list(x))

[]

In [56]:
x= range(100,1,-1)
print(list(x))

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [58]:
x= range(13,131,13)
print(list(x))
print(*list(x))

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]
13 26 39 52 65 78 91 104 117 130

In [60]:
num=int(input("enter number :"))
print(*list(range(num,(num*10)+1,num)))
print(*list(range(num,(num*10)+1,num,sep=-)))

enter number :2
2 4 6 8 10 12 14 16 18 20

In [7]:
from time import sleep
x= "hello world"
print(x)
sleep = 5
print("byee")

hello world
byee